<h1>Pages#contact</h1>
<p><%= number_to_phone "01224478700" %></p>
<p><%= number_to_currency "01224478700" %></p>
<p><%= number_to_percentage "150" %></p>
<p><%= number_with_delimiter "15011111111" %></p>
