<% provide :title, "Post content" %>
<%= render "layouts/post_header", image: "/assets/post-bg.jpg", post: @post %>
<article>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <p><%= (@post.content).html_safe %></p>
      </div>
    </div>
  </div>
</article>
